
body{
    margin: 0;
  }

canvas {
    width: 100%;
    z-index: 1;
}
.black-section {
    background-color: #4A5448;
    color: white;
    padding: 30px;
    border-radius: 30px;

}


.scramble-content {
    text-align: center;
    position: relative;
    top: 50%; 
}

.header-txt, .header-txt__sub {
    color: white;
    font-family: 'Unica One', cursive;
    font-size: 3rem;
    margin: auto;
    text-align: center; 
}
    .header-txt__sub {
      text-align: center;
      font-size: 2rem; 
    }