/*Course details page*/
.course-page-header {
    min-height: 40vh;
    padding: 30px;
    position: initial;
    /* height: 100%; */
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
    }
    .icon-title {display: block;
    left: 15px;
    position: absolute;
    margin-top: -39px;
    font-size: 20px;
    background-color: #fff;
    padding: 9px;
    border-radius: 50%;
    max-width: 38px;
    box-shadow: 0 16px 38px -12px rgba(0,0,0,.56), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);}
    .bkg-tran {background-color:#ffffff8a;}
    .mt-negative {margin-top:-180px;}
    .lh-l5 {line-height:1.5;}
    ul.xnav.xnav-filters {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
    display: table-row;
    }
    .fs-18 {font-size:18px;}
    .table-sessions thead tr th {
    font-size: 12px;
    }
    .table-sessions > tbody > tr > td {padding:6px}
    .table-sessions td {
    font-size: 12px;
    font-weight: 300;
    }
    
    
    /*Flex Space Between*/
    .flex {
      display: flex;
      justify-content: space-between;
    }
    
    /*Padding */
    
    .padding-15 {
      padding: 15px;
    }
    
    
    /* Background Color */
    
    .bg-gray {
      background-color: #808080 !important;
    }
    
    
    
    
    /*Logged in Navigation*/
    .navbar .navbar-nav .nav-classroom .nav-item .nav-link {color:#598ac5; display: -webkit-box; }
    ul.navbar-nav.top-nav.ml-auto.nav-classroom {
        display: -webkit-box;
    }
    
    .loading-overlay,
    .loading-overlay:before,
    .loading-overlay:after {
      border-radius: 50%;
      width: 2.5em;
      height: 2.5em;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation: load7 1.8s infinite ease-in-out;
      animation: load7 1.8s infinite ease-in-out;
    }
    .loading-overlay {
      color: #53bad1;
      font-size: 10px;
      margin: 80px auto;
      position: relative;
      text-indent: -9999em;
      -webkit-transform: translateZ(0);
      -ms-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-animation-delay: -0.16s;
      animation-delay: -0.16s;
    }
    .loading-overlay:before,
    .loading-overlay:after {
      content: '';
      position: absolute;
      top: 0;
    }
    .loading-overlay:before {
      left: -3.5em;
      -webkit-animation-delay: -0.32s;
      animation-delay: -0.32s;
    }
    .loading-overlay:after {
      left: 3.5em;
    }
    @-webkit-keyframes load7 {
      0%,
      80%,
      100% {
        box-shadow: 0 2.5em 0 -1.3em;
      }
      40% {
        box-shadow: 0 2.5em 0 0;
      }
    }
    @keyframes load7 {
      0%,
      80%,
      100% {
        box-shadow: 0 2.5em 0 -1.3em;
      }
      40% {
        box-shadow: 0 2.5em 0 0;
      }
    }
    
    .embed-responsive {height:100%;}
    .scroll-card {
      max-height: 450px;
      overflow: scroll;
    }
    
    /*Card Collpase Arrow Animation*/
    .card-header .fa, .card-header .material-icons {
      transition: .3s transform ease-in-out;
    }
    .card-header .collapsed .fa, .card-header .collapsed .material-icons {
      transform: rotate(90deg);
    }
    
    /*chat*/
    p.media-body.card-chat {
      color: white;
      padding: 18px 20px;
      line-height: 26px;
      font-size: 16px;
      border-radius: 1px 18px 18px 18px;
      margin-bottom: 30px;
      width: 90%;
      position: relative;
      background-color:#53bad1;
      margin-top: 10px;
    }
    .message-input .wrap {
      position: relative;
    }
    
    .message-input .wrap button {
      float: right;
      border: none;
      cursor: pointer;
    }
    
    
    .message-input .wrap input {
      border: none; 
      width: calc(100% - 90px);
      padding: 8px 20px 8px 20px;
      font-size: 15px;
      color: #383838;
    }
    
        .row.wrap {border:1px solid #ccc; border-radius:50px;padding:10px;}
        /*Session Matrix*/
        tr.rank-row.my-handle {
          cursor: move;
      }
      .bk-opaque {background-color:#ffffff69; color:#ffffff;}
    
    